@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;600&display=swap');

:root {
  --text-color: #60809f;
  --text-color-dark: #455b72;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f6f9fc;
  color: var(--text-color);
  font-family: 'IBM Plex Mono', monospace;
}

body {
  margin: 0 auto;
  max-width: 600px;
  padding-top: 5em;
  width: 95%;
  line-height: 1.5;
  font-size: 14px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  margin-top: 20px;
}

h1,
h2 {
  font-size: 1rem;
  color: var(--text-color-dark);
}

h2:after {
  content: '\2014';
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ol {
  list-style: decimal-leading-zero;
}

li {
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header > img {
  display: inline-block;
  width: 4em;
  border-radius: 50%;
}

header > img + h1 {
  margin: 0 0 0 0.5em;
}

a {
  color: var(--primary);
}

p.sub-title {
  font-weight: 600;
}

section > ul > li {
  margin-bottom: 10px;
}

section > ul > li > h3 {
  font-size: 14px;
  margin: 0 0 0.2em;
}

section > ul > li > h4 {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
}

section > ul > li > p {
  font-size: 14px;
  margin: 0;
}

footer {
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
}

footer > p {
  margin: 0;
}

footer > ul > li {
  display: inline-block;
  margin-left: 1em;
}

footer > ul > li > a {
  color: var(--text-color);
}
